<section class="sectionNosotros" id="sobreNosotros">
  <h2>Sobre nosotros</h2>
  <p>Conoce al equipo encargado de este proyecto innovador</p>
  <div class="equipo">
    <div class="equipoCard">
      <div class="equipoCardIcon">
        <img src="assets/img/mauricio.PNG" alt="Mauricio Oliveira">
      </div>
      <div class="equipoCardText">
        <p><strong>Mauricio Oliveira</strong><br />Ingeniero de Software</p>
      </div>
    </div>
    <div class="equipoCard">
      <div class="equipoCardIcon">
        <img src="assets/img/diego.jpg" alt="Diego Alonso">
      </div>
      <div class="equipoCardText">
        <p><strong>Diego Alonso</strong><br />Ingeniero de Software</p>
      </div>
    </div>
    <div class="equipoCard">
      <div class="equipoCardIcon">
        <img src="assets/img/Andres.jpg" alt="Andres Rodriguez">
      </div>
      <div class="equipoCardText"> 
        <p><strong>Andres Rodriguez</strong><br />Ingeniero de Software</p>
      </div>
    </div>
  </div>
</section>
