<section class="sectionInfo" id="producto">
  <h2>¿Qué es EzPark?</h2>
  <p>Es una aplicación para encontrar, reservar y promocionar servicios de estacionamientos en grandes residenciales.</p>
  <div class="infoCards">
    <div class="infoCard">
      <div class="cardIcon">
        <img src="assets/img/Product-0.svg" alt="ubicacion">
      </div>
      <div class="cardText">
        <p>Reduce el tiempo de búsqueda de estacionamiento.</p>
      </div>
    </div>
    <div class="infoCard">
      <div class="cardIcon">
        <img src="assets/img/Product-1.svg" alt="time">
      </div>
      <div class="cardText">
        <p>Ayuda a la reducción de la congestión vehicular.</p>
      </div>
    </div>
    <div class="infoCard">
      <div class="cardIcon">
        <img src="assets/img/Product-2.svg" alt="eco-friendly">
      </div>
      <div class="cardText">
        <p>Contribuye a un ambiente más ecológico al reducir emisiones.</p>
      </div>
    </div>
  </div>
</section>
