<header class="main-header">  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.svg" alt="Logo EzPark" class="logo-img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#producto">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#caracteristicas">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonios">Testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#precios">Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobreNosotros">Sobre nosotros</a>
          </li>
        </ul>
        <div class="nav-buttons ms-lg-3">
          <a href="#" class="btn btn-registro">Registrar</a>
          <a href="#" class="btn btn-login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </nav>
</header>
