<section class="sectionUso" id="caracteristicas">
  <h2>Fácil y simple de usar</h2>
  <p>Aplicación intuitiva, moderna y simplista para ofrecer la mejor experiencia a nuestros usuarios.</p>
  <div class="usoCards">
    <div class="usoCard">
      <div class="usoCardIcon">
        <img src="assets/img/Features-0.svg" alt="Icono de estacionamiento" />
      </div>
      <div class="usoCardText">
        <h3>Escoge el espacio</h3>
        <p>Elije entre diversas opciones <span>para estacionar en el mapa.</span></p>
      </div>
    </div>
    <div class="usoCard">
      <div class="usoCardIcon">
        <img src="assets/img/Features-1.svg" alt="Icono de estacionamiento" />
      </div>
      <div class="usoCardText">
        <h3>Establece el tiempo</h3>
        <p>Ingresa el rango de horas que <span>deseas usar el servicio.</span></p>
      </div>
    </div>
    <div class="usoCard">
      <div class="usoCardIcon">
        <img src="assets/img/Features-2.svg" alt="Icono de estacionamiento" />
      </div>
      <div class="usoCardText">
        <h3>Estaciona tu vehículo</h3>
        <p>Acercate al lugar del servicio y <span>estaciona en el garaje</span> seleccionado.</p>
      </div>
    </div>
  </div>
</section>
