<section class="sectionPrecios" id="precios">
  <h2>Precios</h2>
  <p>EzPark es de uso gratuito para todos. Solo paga por alquiler de estacionamientos y gana dinero por sus servicios.</p>
  
  <div class="precioCards">
    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-0.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Decida el servicio según su comodidad</h3>
        <p>Elija el tiempo de servicio y tarifa que se adecuen a su preferencia.</p>
      </div>
    </div>

    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-1.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Pagos rapidos y seguros</h3>
        <p>Pasarela de pagos verificados por varias organizaciones y entidades bancarias.</p>
      </div>
    </div>

    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-2.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Ganancias diaria</h3>
        <p>Genere ingresos pasivos y/o activos diarios con nuestra aplicación.</p>
      </div>
    </div>

    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-3.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Muchas tarifas, muchos garajes</h3>
        <p>¡No te quedes sin alternativas! Elija entre la gran variedad de estacionamientos disponibles.</p>
      </div>
    </div>

    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-4.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Tarifas por horas o días</h3>
        <p>Ajuste sus tarifas de estacionamiento según el tiempo solicitado.</p>
      </div>
    </div>

    <div class="cardPrecio">
      <div class="cardPrecioIcon">
        <img src="assets/img/Pricing-5.svg" alt="Icono de ubicación">
      </div>
      <div class="cardPrecioText">
        <h3>Únete a nuestra comunidad</h3>
        <p>Miles de usuarios satisfechos con nuestra aplicación.</p>
      </div>
    </div>
  </div>
</section>
